{
  "singleQuote": true,
  "trailingComma": "none",
  "eslintIntegration": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "proseWrap": "preserve",
  "parser": "babylon",
  "printWdith": 80,
  "arrowParens": "avoid"
}
