<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>All Tests</title>
	<link rel="stylesheet" href="../components/qunit/qunit/qunit.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>
	<iframe id="child" src="assets/child.html"></iframe>

	<script src="../components/bind-polyfill/index.js"></script>
	<script src="../components/qunit/qunit/qunit.js"></script>
	<script src="../components/jquery/dist/jquery.js"></script>
	<script src="../dist/bellhop.js"></script>

	<script src="index.js"></script>
</body>
</html>