body, html {
    margin: 0;
    padding: 0;
}

body {
    position:absolute;
    height:100%;
    width:100%;
    background:#bebebe;
}

#content {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background:#fff;
}

#framerate {
    position:absolute;
    top:0;
    left:0;
    padding:5px;
    color:#fff;
    background:rgba(0,0,0,0.5);
    font-family:"Lucida Console",Monaco,monospace;
    font-size:12px;
}

