doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Basic Example
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/common.css')    
  body.md
    #content.canvas
      nav
        button#canvas Application
        button#code Code
        button#back Back
      canvas#stage(width='800', height='500')
      pre#codeDisplay.
      script(src='js/common.js')
      script(src='js/basic.js' id="code")
        
