doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Examples
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/common.css')
  body#index
    div
      #content.index
        h1 SpringRoll Examples
        ul
          li: a(href='basic.html') Application
          li: a(href='asset-caching.html') Asset Loading &amp; Caching
          li: a(href='color-alpha.html') Color-Alpha
          li: a(href='max-width.html') Max-Width
          li: a(href='ui.html') UI Scaling
          li: a(href='cutscene.html') Cutscene
          li: a(href='tween.html') Tweening
          li: a(href='sound.html') Sound
          li: a(href='captions.html') Captions
          li: a(href='captions-sound.html') Captions &amp; Sound
          li: a(href='multiple-displays.html') Multi-Display
          li: a(href='states.html') States
