name: build

on: 
  pull_request:
  push:
    branches:
      - master
  
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1

    - name: Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install
      run: |
        npm ci
      env:
        CI: true
    
    - name: build
      run: |
        npm run build:full
      env:
        CI: true

    - name: test
      run: |
        npm run github-test
      env:
        CI: true
    