#appContainer {
	width:100%;
	height:100%;
}
#frame {
	position:absolute;
	top:40px;
	left:10px;
	bottom:10px;
	right:10px;
	background:#222;
}
body {
	background:#000;
	color:#ccc;
	font-family:sans-serif;
}
#loadGame, #closeGame {
	border:0;
	background:#64CCC2;
	color:#000;
	border-radius: 4px;
	padding:4px 8px;
	position:absolute;
	top:10px;
	right:10px;
}
body.loaded #loadGame,
body #closeGame {
	display:none;
}
body #loadGame,
body.loaded #closeGame {
	display:block;
}
h1 {
	font-size:16px;
	position:absolute;
	top:10px;
	left:10px;
	padding:0;
	margin:0;
}